![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.05 - Spark SQL: Dataframe Language Integrated

## Background

We will be expressing several language-integrated queries.

CREATE TABLE videos_by_actor (
  actor_name TEXT,
  release_year INT,
  character_name TEXT,
  video_id TIMEUUID,
  title TEXT,
  PRIMARY KEY (actor_name, release_year)
) ;

***

## Directions

Let's begin by creating a dataframe based on the data from `videos_by_actor` table.

Now let's use several of the  methods available to us and limit the results to number of movies, by release year where Johnny Depp is an actor.

+------------+------------+
|release_year|total_movies|
+------------+------------+
|        1985|           1|
|        1984|           1|
|        1986|           1|
|        1990|           1|
|        1991|           1|
|        1992|           1|
|        1993|           1|
|        1995|           1|
|        1994|           1|
|        1997|           1|
+------------+------------+