![DataStax Academy](https://s3.amazonaws.com/datastaxtraining/vq8Jr36Gk48v/datastax-academy.svg "DataStax Academy")

# Exercise 08.03 - Spark SQL: Dataframe Schema Rows

## Background

We will be reviewing several of the methods available to access the information contained in a dataframe.

***

## Directions

Let's begin by using the `printSchema' method to view the schema in a "human-readable output".

root
 |-- video_id: binary (nullable = true)
 |-- avg_rating: float (nullable = true)
 |-- description: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- mpaa_rating: string (nullable = true)
 |-- release_date: timestamp (nullable = true)
 |-- release_year: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- user_id: binary (nullable = true)

Using the `dtypes` method, get the column names and types.

Array[(String, String)] = Array((video_id,BinaryType), (avg_rating,FloatType), (description,StringType), (genres,ArrayType(StringType,true)), (mpaa_rating,StringType), (release_date,TimestampType), (release_year,IntegerType), (title,StringType), (user_id,BinaryType))

Try using the `first` method to interrogate the row. Try referencing the results by index, see if the value is null (`isNullAt`) and return the row by data type (`getInt`).

Pirates of the Caribbean: On Stranger Tides
false
2011

Let's select a column from `videos` table for our selected title and using the `asInstanceOf` method, parse the values.

Action
Fantasy